@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    font-family: 'Montserrat', sans-serif;
    color: black;
    padding: 0;
    margin: 0;
}

.main-comment {
    border: 2px solid grey;
    border-radius: 10px;
    margin: 10px 58% 10px 0;
    padding: 10px;
}

.comment-header {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.username {
    font-size: 16px;
    font-weight: bold;
    color: #022E;
    padding-right: 20px;
}

.time {
    font-size: 10px;
    color: grey;
}

.comment-description {
    font-size: 12px;
}