@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
    --color1: black;
    --color2: #141414;
    --color3: #ef9c42;
    --color4: #e77500;
    --color5: #cc4e01;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;
	font-family: 'Montserrat', sans-serif;
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center;
}

.title {
    font-size: 40px;
	font-weight: bold;
	margin-bottom: 1.5em;
}

.title-right {
	margin: 0;
}

.subtitle {
	font-size: 16px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.error-msg {
    display: flex;
    color: #b9341d;
    font-size: 12px;
    font-weight: bold;
	letter-spacing: 0.5px;
    margin: 0;
}

button {
	border-radius: 20px;
	background-color: var(--color5);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
    text-transform: uppercase;
    transition:background-color .15s ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button:hover {
    background-color: white;
    color: var(--color5);
}

.log-in-btn {
	border: 1px solid var(--color5);
	margin-top: 2em;
}

.right-panel-button {
	background-color: transparent;
    border: 1px solid white;
}

form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
    text-align: center;
}

.user-input {
	background-color: #eee;
	border-radius: 5px;
	border: none;
	padding: 12px 15px;
	margin: 10px 0;
	width: 100%;
}

.invalid-field {
	box-shadow: 0px 0px 0px 1.5px #db8b82 inset;
}

.form-container {
	height: 100vh;
}

.right-panel-container {
	height: 100vh;
	width: 50vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
	place-items: center;
	background-color: var(--color5);
	background-image: url("../img/guitar-3943201_1920.jpg");
    background-size: cover;
    background-position: left;
    background-blend-mode:multiply;
	color: #FFFFFF;
}

.right-panel-signup,
.right-panel-guest {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	max-width: 300px;
}
