@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');

*{
	box-sizing: border-box;
}

body{
	background:#f4f4f4;
	margin: 0;
    color: black;
    font-family :'Montserrat';

}

a{
    color:#191919;
    text-decoration: none;
}

/* TOP of home page */
.top-container{
    background:#F0F0F0;

}

.top{
    padding: 1.5em; 
    margin: 0;
    max-width: 1400px;
}

header{
    display: flex;
    justify-content: space-between;
}

footer{
    text-align: right;
}

.logo{
     font-weight: bold;
     font-size: 6em;
}
.img-logo{
    width: 200px;
    height:200px;
}


/* search bar */
.search-container{
    margin: 0 auto;
    background: white;
    height: 30px;
    border-radius: 40px;
    padding: 1em 1em;
    display: flex;
    align-items: center;
    transition: 0.8s;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.search-container:hover input{
    width: 350px;
    cursor: pointer;
}

/*hide input */
.search-container input{
    background: transparent;
    border:none;
    outline: none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
}


.search-container li .fas{
    color: #aa00ff;
}
/* end search bar */




/* navigation bar */
.navbar ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;  
    align-items: center; 
    cursor: pointer;
}


.navbar .nav{
   display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;  
    align-items: center; 
    cursor: pointer;
}


li a {
    color: #000;
    padding: 1.5em;
    text-decoration: none;
    

}
li a:hover{
    color: grey;

}

/*Profile dropdown*/

.navbar ul li.profile-dropdown{
  position: relative;
  
}

.navbar ul li.profile-dropdown:hover{
    color: grey;

}
 .navbar ul li i.fas{
    width:35px;
    display: block;
    
} 



.navbar .profile-dropdown .profile-menu{
    position: absolute;
    top:3.0em;  
    right: 0.1em;
    display:flex;
   background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    border-radius: 15px;
    margin-bottom: -3em;
    display: none;
    
}

/* .navbar .profile-dropdown .profile-menu .profile-menu-right li{  
     display:inline-block;
     padding:0;
     
      background-color: #aa00ff;
} */

.navbar .profile-menu .profile-menu-right{
   padding:10px 10px;
}



.navbar .profile-menu .profile-menu-left{
    background: #000;
    padding: 0.5em 0.5em;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}


.navbar .profile-menu .profile-menu-left li{
    color: #fff;
}




.navbar .profile-menu li{
    margin-bottom: 5px;
    color: #868686;
}

.navbar .profile-menu:before{
    content: '';
    position: absolute;
    top: -18px;
    right: 10px;
    border:10px solid;
    border-color: transparent transparent #fff transparent;
}


/*displays dropdown menu when class is set active  */
.navbar ul li.profile-dropdown.active  .profile-menu{
    display: flex;
}

/* end of navigation bar */

/*
margin of 4em from the top(relative to class top)
2em from bottom
0 from right and left
*/
.top-content{
    margin: 2em 0 2em;
}


/*view page*/
.video-container{
    display: flex;
    justify-content: center;
    width:100%;    
}
video{
        max-width: 850px;
        outline: none;
}

.video-content{
   margin-left:100px;
}
