/*view page*/
.video-container{
    display: flex;
    justify-content: center;
    width:100%;    
}
video{
        max-width: 850px;
        outline: none;
}

.video-content{
   margin-left:100px;
}

.video-rating{
    margin-left:100px;
    cursor: pointer;
   
}

.fa-thumbs-down, .fa-thumbs-o-down{
    transform: rotateY(180deg);
}


/*Popup Modal*/
.popup-outer-panel {
    
    /* position: absolute;
    top:0;*/
    width: 100px;
    height: 100px; 
    background-color: red;
    /* opacity: 0.7; */
    cursor: pointer;

}
